:root {
  --body-background: #f2f2f2;
  --body-color: #444;
  --heading-color: black;
  --action-color: #d64045;
}

body {
  background: var(--body-background);
  color: var(--body-color);
  font-family: "Figtree", sans-serif;
  margin: 0 8px;
  font-size: 108%;
  line-height: 1.5;
}

h1, h2, h3, h4, h5 {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}

a {
  color: var(--action-color);
  text-decoration: underline;
  text-decoration-color: #ffb088;
  &:hover {
    cursor: pointer;
  }
}

h1 {
  margin: 1rem 0 3rem;
  text-align: center;
  font-weight: 900;
  font-size: 2.5rem;
  color: var(--heading-color);
  line-height: 1.2;
}

.emoji-header {
  font-size: 80px;
  @media (max-width: 600px) {
    font-size: 60px;
  }
}

// styles for site title header
body > header {
  margin: 1rem;
  text-align: center;
  a {
    text-decoration: none;
    width: 100%;
    color: inherit;
  }

  h1 {
    @media (max-width: 500px) {
      margin: 0.5rem;
    }
  }
}

// styles for nav items
body > nav ul {
  margin: 2rem 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}

// styles for nav links
body > nav a {
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

// styles for main content card
main {
  position: relative;
  margin: 2rem auto 4rem;
  max-width: 58rem;
  min-height: calc(70vh - 200px);
  padding: 25px 35px 50px 35px;
  background: white;
  box-shadow: 0 3px 6px #ddd, 0 3px 6px #ddd;
  border-radius: 3px;

  @media (max-width: 500px) {
    padding: 16px 16px 50px;
    min-height: calc(85vh - 200px);
    margin-bottom: 2rem;
  }
}

// styles for site footer
footer {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 1em;

  @media (max-width: 500px) {
    margin-bottom: 2rem;
  }
}

hr {
  border: none;
  border-top: 2px dotted #bbb;
  margin: 3rem 0;
}

.posts {
  padding: 0;
  li {
    list-style-type: none;
    padding-bottom: 5px;
  }
}

.pagination {
  padding: 0;
  list-style-type: none;
  display: flex;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;

  .previous-page,
  .next-page {
    margin: 0 5px;
    a {
      text-decoration: none;
    }
  }
}

.post {
  .tags {
    display: flex;
    justify-content: center;
    margin-top: -38px;
    margin-bottom: 50px;
    a {
      color: #bbb;
      text-decoration-color: #bbb;
      &:not(:first-child) {
        padding-left: 5px;
      }
    }
  }

  // make post subheaders into hash links
  .action-header {
    color: var(--action-color);
  }
  h2, h3, h4 {
    width: fit-content;
    &:hover {
      cursor: pointer;
    }
  }
  h3, h4 {
    margin-bottom: -6px;
  }
}

.about {
  .headshot-container {
    display: flex;
    justify-content: center;
    margin-top: -15px;
    margin-bottom: 35px;
    .headshot {
      max-width: 270px;
    }
  }
}
